<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="patternfull">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n
        </Property>
        <Property name="patternshort">
            %d{HH:mm:ss.SSS} [%t] %-5level %logger{1} - %msg%n
        </Property>
    </Properties>
    <Appenders>
        <File name="TxtFile" fileName="logs/task06.log" bufferedIO="true">
            <PatternLayout pattern="${patternfull}"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternshort}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="by.training.multithreading.bean.LockThread" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.multithreading.bean.CyclicBarrierThread" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.multithreading.controller.command.impl.CreateData" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.multithreading.controller.command.impl.WrongRequest" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.multithreading.controller.command.impl.FillingByLock" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.multithreading.controller.command.impl.FillingByCyclicBarrier" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>


    </Loggers>
</Configuration>