# Default ignored files
/shelf/
/workspace.xml
/out/
.iml
.idea
/target/
/logs/
/task03arraysdecomposition/target/
/task03arraysdecomposition/task03arraysdecomposition.iml
/task03arraysdecomposition/logs/
/task04classesuml/logs/
/task04classesuml/target/
/task04classesuml/task04classesuml.iml
/task05kickstartchapter/target/
/task05kickstartchapter/data/