<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="patternfull">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n
        </Property>
        <Property name="patternshort">
            %d{HH:mm:ss.SSS} [%t] %-5level %logger{1} - %msg%n
        </Property>
    </Properties>
    <Appenders>
        <File name="TxtFile" fileName="logs/text.log" bufferedIO="true">
            <PatternLayout pattern="${patternfull}"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternshort}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="by.training.decomposition.view.Main" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.decomposition.view.ArrayMenu" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.decomposition.view.MatrixMenu" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.decomposition.view.UserReader" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.decomposition.controller.command.CommandProvider" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.decomposition.controller.command.impl.BinaryMerge" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.decomposition.controller.command.impl.Bubble" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.decomposition.controller.command.impl.CreateArray" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.decomposition.controller.command.impl.CreateMatrix" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.decomposition.controller.command.impl.InsertSort" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.decomposition.controller.command.impl.MultiplyMatrices" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.decomposition.controller.command.impl.MultiplyMatrixOnValue" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.decomposition.controller.command.impl.Shaker" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.decomposition.controller.command.impl.Shell" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.decomposition.controller.command.impl.SimpleSelection" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.decomposition.controller.command.impl.SumAndDiffMatrices" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.decomposition.controller.command.impl.TransposeMatrix" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
        <Logger name="by.training.decomposition.controller.command.impl.WrongRequest" level="all"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
    </Loggers>
</Configuration>